<h1>sign up</h1>

<a href="/login">Log in</a>
<a href="/">Home</a>
<a href="/profile">My account</a>
<a href="/logout">Log out</a>

<form action="/signup" method="post">
    <input type="email" name="username">
    <input type="password" name="password">
    <input type="submit" value="Sign up">
</form>